[project]
	description = templates, index templates, mappings, kibana configs for elasticsearch
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Richard Megginson (richm)
[access "refs/for/refs/*"]
	read = group user/Richard Megginson (richm)
	push = group user/Richard Megginson (richm)
	label-Code-Review = -2..+2 group user/Richard Megginson (richm)
	label-Verified = -1..+1 group user/Richard Megginson (richm)
	rebase = group user/Richard Megginson (richm)
	removeReviewer = group user/Richard Megginson (richm)
	submit = group user/Richard Megginson (richm)
[access "refs/heads/*"]
	read = group user/Richard Megginson (richm)
	create = group user/Richard Megginson (richm)
	push = +force group user/Richard Megginson (richm)
	pushMerge = group user/Richard Megginson (richm)
[access "refs/tags/*"]
	push = group user/Richard Megginson (richm)
	push = +force group user/Richard Megginson (richm)
